__pycache__/
*.egg-info/
*.egg
*.spec
*.log
*.db
*.sqlite
*.db-journal
*.py[co]
*.mo
*.pot
.DS_Store
.env
.env.example
.env.test
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cache
*.pyc
*.pyo
*.mo
*.pot
*.po
local_settings.py
db.sqlite3
db.sqlite3-journal
instance
.mypy_cache
.pytest_cache
venv/
